.btn{
  text-decoration: none;
  background-color: #454545;
  color: #fff;
  width: 90%;
  border-radius: 5px;
  font-size: 2em;
  text-align: center;
  padding: 5px 0;
}

.wrapper--login__btn{
 margin-bottom: 5%; //of 40px 
}