doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    p select a group
    p find a user
    input(type='text' name='person')
    img(class='avatar')
    a(class='btn voting' href='#') Start random voting