doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    img(class="photo")
    h2(class='title') Vote now!
    h2(class='title') You voted demo!
    h2(class='title') You voted die!
    p Now on stage
    p(class='name')
    a(class='btn voteDemo' href='#') Demo
    p or
    a(class='btn voteDie' href='#') Die